*{
    margin: 0;
    padding: 0%;

}


/* Esse é o conteiner em grid que contempla tudo que tem no body(header, main e footer). Cada linha é um elemento, não há colunas, pois os elementos são organizados em flex dentro dessas linhas */

#containerBody{
    display: grid;
    grid-template-rows: 20vh, 1fr, 20vh;
    grid-template-columns: 1fr;
    
}

header{
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: #B26F14;  

}

#textoHeader{
    text-decoration: none;
    text-decoration-style: none;
    font-family: 'Inter Tight', sans-serif;
    color: #F2F0F2;
    text-transform: uppercase;
    letter-spacing:0.1em;
    word-spacing: 0.2em;
    font-size: 1.2em;
    padding-left: 3%;
    text-shadow: 3px 4px 4px #A63F03;

}



main{
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
}


/* Área de busca */
form{
    font-family: Arial, Helvetica, sans-serif;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


input{
    display: block;
    border-style: hidden;
    border-radius: 3%;
    background-color:#ffffff;
    width:45%;
    padding: 0.5rem;
        
}


button{
    border-style: hidden;
    border-radius: 3%;
    size: 5%;
    padding: 0.5rem;
    background-color:#ffffff;
    color: #2B4570;
    border: #2B4570 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

button:hover{
    background-color: #2B4570;
    color: #E5E5E5;
    
}

/* Esse container contém todas as sections.É usado para apagar tudo antes de imprimir o resultado da busca*/
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    row-gap: 2vw;
}

/* Esse conteiner é a estilização da impressão do objeto que é buscado. Ele tem que ficar no centro da página */

.containerBusca{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    row-gap: 2vw;
}

/* Estilização padrão das sections */

section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw; 
    text-align: center;
    width: 34%;
    height: 65vh;
    background: rgb(241, 239, 240, 0.55);
    border: 1px hidden #75490D;
    border-radius: 7px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(64,24,1,0);  

}

#titulo{

    text-decoration: none;
    font-style: none;
    font-size: 1.9rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    color: #020D09;
    
}

#titulo:hover{
    color: #B26F14;
}


li{
    padding: 2.7%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items:center;

}

#textoLi{
    list-style: none;
    font-style: none;
    font-family: 'Barlow', sans-serif;
    font-weight:500;
    font-size: 0.8em;
    color:#0D0D0D;
}


  img{
    height: 50vh;
    border-radius: 18px;
    opacity: 0.85;
 } 

/* Divs em cada section, background com a imagem que ocupa toda a tela. */

.containerSection {
    
    background-position: left;
    background-size:cover;
    background-repeat: no-repeat;
    width: 98.7vw;
    height: 97vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}



#imagem1{
    padding-left: 1rem;
    align-self: center;
    justify-self: center;
    opacity: 0.85;
 } 


#containerSection2{

    justify-content:flex-start;

}

#imagem2{
    align-self: center;
    justify-self: center;
    padding-left: 5%;
    opacity: 0.85;
 } 

#containerSection3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    order: 10;

}

#imagem3{

    border-radius: 18px;
    padding-left: 5%;
    justify-self: flex-start;
    order: 0;
    opacity: 0.85;
 } 


footer{
    grid-row: 3/4;
    grid-column:1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    background-color: black;
}

.link, p{
    text-decoration: none;
    color: #E5E5E5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}


@media screen and (max-device-width : 480px) {
    
}

@media screen and (min-device-width : 481px) and (max-device-width : 800px){

    
}